body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.box {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  background-color: #1FCD6C;
  height: 3.5rem;
  font-size: 1em;
  flex: 1;
}

.box2 {
  background-color: #3197DB;
  height: 5.5rem;
  font-size: 2.5em;
  flex: 2;
}

.box3 {
  background-color: #253941;
  height: 9rem;
  font-size: 5em;
  flex: 3;
}

.box4 {
  background-color: #9F57BB;
  height: 5.5rem;
  font-size: 2.5em;
  flex: 2;
}

.box5 {
  background-color:#EB8306;
  font-size: 1em;
  height: 3.5rem;
  flex: 1;
}
